<FilesMatch ".(jpg|png|gif)$">
ErrorDocument 404 "https://synclis.com/MyListings/no-photo.png"
</FilesMatch>
<IfModule mod_rewrite.c>
RewriteEngine On

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^/.]+)/([^/.]+)/?$ index.php?s=$1&c=$2 [L]
</IfModule>
